@import url("https://fonts.googleapis.com/css?family=Lobster|Luckiest+Guy|Mukta&display=swap");

.luckiestGuy {
  font-family: "Luckiest Guy", cursive;
}

.lobster {
  font-family: "Lobster", cursive;
}

.mukta {
  font-family: "Mukta", sans-serif;
}